<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	 <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.appspot.sosalert.restful</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.appspot.sosalert.twitteroauth.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/twitteroauth</url-pattern>
	</servlet-mapping>
	 <servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.appspot.sosalert.twitteroauth.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/callbackoauth</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Sosalert</servlet-name>
		<servlet-class>com.appspot.sosalert.SosalertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sosalert</servlet-name>
		<url-pattern>/sosalert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SosChannelServlet</servlet-name>
		<servlet-class>com.appspot.sosalert.channel.SosChannelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SosChannelServlet</servlet-name>
		<url-pattern>/soschannel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportServlet</servlet-name>
		<servlet-class>com.appspot.sosalert.ReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportServlet</servlet-name>
		<url-pattern>/report</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>OpenedServlet</servlet-name>
		<servlet-class>com.appspot.sosalert.OpenedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>OpenedServlet</servlet-name>
    	<url-pattern>/opened</url-pattern>
  	</servlet-mapping>
  	
	<servlet>
    	<servlet-name>MoveServlet</servlet-name>
   	    <servlet-class>com.appspot.sosalert.MoveServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>MoveServlet</servlet-name>
    	<url-pattern>/move</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	 <servlet-name>TicTacToeServlet</servlet-name> 
     	<servlet-class>com.appspot.sosalert.TicTacToeServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	 <servlet-name>TicTacToeServlet</servlet-name>
     	<url-pattern>/tictactoe</url-pattern>
  	</servlet-mapping>a
  
  	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
   	</welcome-file-list>
</web-app>
